<div class="author">
    <h1 class="author__heading">Hi Im Dev</h1>
    <p class="author__body">Web Dev and content creator</p>
</div>

<img src="/img/hero-image.webp" alt="person lookinh out through window" class="hero-img" width="981" height="528">

<ul class="article-ul">

    <% data.forEach(post=> { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span>
                    <%= post.title %>
                </span>
                <span class="article-list__date">
                    <%= post.createAt.toDateString() %>
                </span>
            </a>
        </li>
        <% }) %>
</ul>

<% if (nextPage !==null) { %>
    <a href="#" class="pagination">&lt; View Older Posts</a>
    <% } %>